<!DOCTYPE html>
<head>
    <title>About Me: Ross Hinman</title>
</head>
<style>
    body{
        background-image: url('https://media2.giphy.com/media/mhicJGJVAg48w/source.gif');
        background-repeat:no-repeat;
        background-size: cover;
        color:white;
    }
</style>
<body>
    <% include ./nav.ejs %>
    <h1>This is all about Ross Hinman.</h1>
    <h2>I'm just a guy. I'm trying to learn to code.</h2>
    <br>
    <h2>I like cats, soccer, making good food, and sleeping in.</h2>
    <br>
</body>
</html>