<!DOCTYPE html>
<head>
    <title>About Me: Ross Hinman</title>
</head>
<body>
    <% include ./nav.ejs %>
    <h1>This is all about Ross Hinman.</h1>
    <h2>I'm just a guy. I'm trying to learn to code.</h2>
    <br>
    <h2>I like cats, soccer, making good food, and sleeping in.</h2>
    <br>
</body>
</html>