<!DOCTYPE html>
<head>
    <title>Cats</title>
</head>
<style>
    body{
        background-image: url('http://giphygifs.s3.amazonaws.com/media/13CoXDiaCcCoyk/giphy.gif');
        background-repeat: no-repeat;
        background-size: cover;
        color:white;
    }
</style>
<body>
    <% include ./nav.ejs %>
    <h1>Cats are fuzzy and cuddly. But I'm allergic.</h1>
    <h2>I had a cat before I left for college, but then when I came back I had become allergic.</h2>
    <br>
    <h2>I still try to love them, but with love, comes pain. #WORTH</h2>
    <br>
</body>
</html>