<!DOCTYPE html>
<head>
    <title>Cats</title>
</head>
<body>
    <% include ./nav.ejs %>
    <h1>Cats are fuzzy and cuddly. But I'm allergic.</h1>
    <h2>I had a cat before I left for college, but then when I came back I had become allergic.</h2>
    <br>
    <h2>I still try to love them, but with love, comes pain. #WORTH</h2>
    <br>
</body>
</html>