<!DOCTYPE html>
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#submitBtn").click(function(){        
            $("#myForm").submit(); // Submit the form
        });
    });
    </script>
</head>
<style>
        body {
          background-image:url('https://media0.giphy.com/media/7fodOnLBUVamI/giphy.gif');
          text-align: center;
        }
</style>
<body>
    <% include ./nav.ejs %>
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 style = "text-align: center; text-shadow: 2px 2px black; color:white; font-size: 36px;">Fill out this form to get in touch with me:</h1>
    <form action="/contactme" method="post" >
            <label style = "font-size:20px; color:white; text-shadow: 2px 2px black; font-size: 32px;">First Name:</label>
            <input type="text" name="first_name" required>
    </br>
    </br>
            <label style = "font-size:20px; color:white; text-shadow: 2px 2px black; font-size:32px;">Last Name:</label>
            <input type="text" name="last_name" required>
    </br>
    </br>
            <label style = "font-size:20px; color:white; text-shadow: 2px 2px black; font-size:32px;">Email:</label>
            <input type="text" name="email" required>
    </br>
    </br>
            <label style = "font-size:20px; color:white; text-shadow: 2px 2px black; font-size: 32px;">Phone:</label>
            <input type="tel" name="phone" required>
    </br>
    </br>
            <button type="submit" style ="height:48px; width:200px; background-color:red; color:yellow; text-shadow: 2px 2px black; font-weight:700; font-size:28px;">Submit Form</button>
        </form>
        <form action="/upload" method="post" enctype="multipart/form-data"> Select image to upload:
                <input type="file" name="fileToUpload" id="fileToUpload">
                <input type="submit" value="Upload Image" name="submit">
        </form>
    <br>
    
</body>
</html>