<!DOCTYPE html>
<head>
    <title>Dad</title>
</head>
<style>
        body {
          background:url('/Users/rosshinman/Documents/NodeJs/public/cat.jpg');
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
</style>
<body>
    <% include ./nav.ejs %>
    <% include ./familynav.ejs %>

    <h1>My dad is the person who met my mother and had me as a child.</h1>
    <h2>He is old now and retired.</h2>
</body>
</html>