<!DOCTYPE html>
<head>
    <title>Family</title>
</head>
<style>
        body {
          background-image: url('https://flashbak.com/wp-content/uploads/2018/09/10-awkward-family-photograph-1.jpg');
          background-repeat:no-repeat;
          background-size:cover;
          color:white;
        }
</style>
<body>
    <% include ./nav.ejs %>
    <% for  (var i = 0; i < famMems.length; i++){ %>
      <% var output = famMems[i].Name; %>
      <button name = "buttonname" style="background:white; color:black; font-size: 32px; height: 60px; width: 180px">
        <a href="/family/<%=output %>"><%= output %></a>
      </button>
    <%}%>  
    
    <!-- <button style="background:green; color:black; font-size: 32px; height: 60px; width: 180px"><a href="/family/Dad">Dad</a></button>
    <button style="background:yellow; color:black; font-size: 32px; height: 60px; width: 180px"><a href="/family/sister">Sister</a></button> -->
    <h1>Choose a family member to learn more about them!</h1>
    
</body>
</html>