<!DOCTYPE html>
<head>
    <title>Family</title>
</head>
<style>
        body {
          background-image: url('https://flashbak.com/wp-content/uploads/2018/09/10-awkward-family-photograph-1.jpg');
          background-repeat:no-repeat;
          background-size:cover;
          color:white;
          text-align: center;
        }
</style>
<% include ./nav.ejs %>
<body>
    <br />
    <a href="/family/Don" style="font-size: 32px; color:white; font-weight: 600;">Dad</a>
    --
    <a href="/family/Joni" style="font-size: 32px; color:white; font-weight: 600;">Mom</a>
    --
    <a href="/family/Amy" style="font-size: 32px; color:white; font-weight: 600;">Sister</a>
    
</body>
</html>