<!DOCTYPE html>
<head>
    <title>Family</title>
</head>
<style>
        body {
          background-image: url('https://flashbak.com/wp-content/uploads/2018/09/10-awkward-family-photograph-1.jpg');
          background-repeat:no-repeat;
          background-size:cover;
          color:white;
          text-align: center;
        }
</style>
<% include ./nav.ejs %>
<body>
    <h3 style="text-align-last: center; font-size: 36px;"><%= person.name %></h3>
    <p style="font-size: 32px; color: white;">Age: <%= person.age %></p>
    <p style="font-size: 32px; color: white;">Location: <%= person.state %></p>
    <p style="font-size: 32px; color: white;">Connection: <%= person.connection %></p>
    <a href="/family" style="font-size: 32px; color:white; font-weight: 600;">Back</a>
</body>
</html>