<button style="background:red; color:black; font-size: 32px; height: 60px; width: 180px"><a href="/family/mom">Mom</a></button>
<button style="background:green; color:black; font-size: 32px; height: 60px; width: 180px"><a href="/family/Dad">Dad</a></button>
<button style="background:yellow; color:black; font-size: 32px; height: 60px; width: 180px"><a href="/family/sister">Sister</a></button>