<!DOCTYPE html>
<head>
    <title>Family</title>
</head>
<style>
        body {
          background-image: url('https://flashbak.com/wp-content/uploads/2018/09/10-awkward-family-photograph-1.jpg');
          background-repeat:no-repeat;
          background-size:cover;
          color:white;
          text-align: center;
        }
</style>
<% include ./nav.ejs %>
<body>
    <h3 style="text-align-last: center;"><%= person.name %></h3>
    <p>Age: <%= person.age %></p>
    <p>Gender: <%= person.state %></p>
    <p>Connection: <%= person.connection %></p>
    
</body>
</html>