<!DOCTYPE html>
<head>
    <title>Family</title>
</head>
<style>
        body {
          background:url('/Users/rosshinman/Documents/NodeJs/public/cat.jpg');
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
</style>
<body>
    <% include ./nav.ejs %>
    <% include ./familynav.ejs %>

    <h1>Choose a family member to learn more about them!</h1>
</body>
</html>