<!DOCTYPE html>
<head>
    <title>Family</title>
</head>
<style>
        body {
          background-image: url('https://flashbak.com/wp-content/uploads/2018/09/10-awkward-family-photograph-1.jpg');
          background-repeat:no-repeat;
          background-size:cover;
          color:white;
        }
</style>
<body>
    <% include ./nav.ejs %>
    <% include ./familynav.ejs %>

    <h1>Choose a family member to learn more about them!</h1>
</body>
</html>