<!DOCTYPE html>
<head>
    <title>FOOD!</title>
</head>
<style>
    body{
        background-image: url('https://www.traegergrills.com/images/en-us/Recipes/2019/Feb%202019/20190116_BBQ-Ribs-By-Amanda-Haas_RE_HE_M.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        color:white;
    }
</style>
<body>
    <% include ./nav.ejs %>
    <h1 style="text-align: center;">I like to enjoy and make good food!</h1>
    <h2>Some of my favorite food is Korean. Bibimbap is delicious.</h2>
    <br>
    <h2>My favorite thing to grill is a giant slab of BBQ ribs. Yum yum in my tum tum.</h2>
    <br>
</body>
</html>