<!DOCTYPE html>
<head>
    <title>FOOD!</title>
</head>
<body>
    <% include ./nav.ejs %>
    <h1>I like to enjoy and make good food!</h1>
    <h2>Some of my favorite food is Korean. Bibimbap is delicious.</h2>
    <br>
    <h2>My favorite thing to grill is a giant slab of BBQ ribs. Yum yum in my tum tum.</h2>
    <br>
</body>
</html>