<button style="background:white; color:black; font-size: 28px; height: 60px; width: 170px"><a href="/">Home Page</a></button>
<button style="background:white; color:black; font-size: 28px; height: 60px; width: 170px"><a href="/aboutme">About Me</a></button>
<button style="background:white; color:black; font-size: 28px; height: 60px; width: 170px"><a href="/cats">Cats</a></button>
<button style="background:white; color:white; font-size: 28px; height: 60px; width: 170px"><a href="/food">Food</a></button>
<button style="background:white; color:white; font-size: 28px; height: 60px; width: 170px"><a href="/family">Family</a></button>
<button style="background:white; color:white; font-size: 28px; height: 60px; width: 170px"><a href="/contactme">Contact Me</a></button>
<button style="background:white; color:white; font-size: 28px; height: 60px; width: 170px"><a href="/userlist">User List</a></button>
