<button style="background:red; color:black; font-size: 32px; height: 60px; width: 180px"><a href="/">Home Page</a></button>
<button style="background:green; color:black; font-size: 32px; height: 60px; width: 180px"><a href="/aboutme">About Me</a></button>
<button style="background:yellow; color:black; font-size: 32px; height: 60px; width: 180px"><a href="/cats">Cats</a></button>
<button style="background:black; color:white; font-size: 32px; height: 60px; width: 180px"><a href="/food">Food</a></button>
<button style="background:lightblue; color:white; font-size: 32px; height: 60px; width: 180px"><a href="/family">Family</a></button>
<button style="background:orange; color:white; font-size: 32px; height: 60px; width: 180px"><a href="/contactme">Contact Me</a></button>
