<!DOCTYPE html>
<head>
    <title>Sister</title>
</head>
<style>
        body {
          background:url('/Users/rosshinman/Documents/NodeJs/public/cat.jpg');
          background-repeat: no-repeat;
          background-size: 100% 100%;
        }
</style>
<body>
    <% include ./nav.ejs %>
    <% include ./familynav.ejs %>

    <h1>My sister is the person I got to grow up with and learn from.</h1>
    <h2>He is two years older than me and is a cool cat.</h2>
</body>
</html>