<!DOCTYPE html>
<head>
    <title>Thank You</title>
</head>
<!-- <style>
        body {
          background-image: url('https://mymodernmet.com/wp/wp-content/uploads/2019/03/elements-of-art-6.jpg');
          background-repeat:no-repeat;
          background-size:cover;
          color:black;
        }
</style> -->
<body>
    <% include ./nav.ejs %>
    <h1>Thank you for submitting your information {first_name} {last_nam}</h1>
    <h2>He is two years older than me and is a cool cat.</h2>
</body>
</html>