<!DOCTYPE html>
<head>
    <title>User List</title>
</head>

<!DOCTYPE html>
<html>
    <head>
        <title>Data from MySQL</title>
    </head>
    <style>
        body{
            background-color: black;
            color:white;
        }
    </style>
    <% include ./nav.ejs %>
    <body>
        <h1>User List:</h1>
        <h2>
        <table>
            <% q_result.forEach(function(item, index){%>
                <tr>
                    <td>Name: <%= item.first_name %> <%=
                    item.last_name %> </td>
                    <td>Email: <%= item.email %></td>
                </tr>
                <% }); %>
        </table>
    </h2>
    </body>
</html>